name: Build Desktop Environment
on: [push, workflow_call]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Maximize build disk space
        uses: easimon/maximize-build-disk-space@master
        with:
          root-reserve-mb: 20480
          temp-reserve-mb: 10240
          swap-size-mb: 1024

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Sanitise repository owner
        run: echo REPOSITORY_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ env.REPOSITORY_OWNER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to GitHub Container Registry
        uses: docker/build-push-action@v4
        with:
          build-args: |
            DESKTOP_ENVIRONMENT_USER=${{ env.REPOSITORY_OWNER }}
            DESKTOP_ENVIRONMENT_GITHUB_USER=${{ env.REPOSITORY_OWNER }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: docker/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPOSITORY_OWNER }}/desktop-environment:latest

      - name: Run desktop environment tests
        run: ./docker/scripts/test.sh
        env:
          DESKTOP_ENVIRONMENT_REGISTRY: ghcr.io/${{ env.REPOSITORY_OWNER }}
        continue-on-error: true
